* {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  /* Within components can pick font weight from 300-900 */
}

#nav {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-left: 1vh;
  height: 8vh;
}

#savedPageButton {
  background-color: transparent;
  border: none;
  color: #242424;
  margin-right: 2vh;
}

#savedPageButton:hover {
  text-decoration: #daa7ff90 underline 3px;
}

#flyer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  margin: 0 auto;
}

button {
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 0;
}

#flyer {
  height: 98%;
}