
#nav {
  height: 10vh;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-left: 1vh;
  height: 8vh;
}

a {
  text-decoration: none;
  color: #242424;
  margin-right: 2vh;
}

a:hover {
  text-decoration: #daa7ff90 underline 3px;
}

#flyer-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  margin: 0 auto;
}

button {
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 0;
}

#flyer {
  height: 98%;
}