* {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;  /* Within components can pick font weight from 300-900 */
  color: #242424;
}

body {
  margin: 0;
}

button:hover, input:hover {
  cursor: pointer;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 9vh;
  padding: 0.5vh 3vw 0 3vw ;
}

#logo {
  height: 5vh;
}

#savedEventsButton {
  border: none;
}

#savedEventsButton:hover {
  text-decoration: rgb(187, 188, 229) underline 3px;
}

#error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  height: 40vh;
  margin-top: 10vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

#error div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#error_everyone {
  align-self: flex-end;
  height: 20vh;
}

#error_you {
  height: 12vh;
  width: auto;
  margin: 3vh
}