#flyer {
  position: relative;
  min-width: 34vw;
  padding: 0.5vh 0.5vw 0 1vh;
  margin-left: 0.5vw;

  border-left: 2px solid #d6e7ea95;

  height: 87vh;

  overflow-y: scroll;
}

#flyer-x {
  height: 2.75vh;
  width: auto;
  border: none;
  padding: 0;

  position: absolute;
  top: 8px;
  left: 12px;
  /* Layer this image on top of flyer */
  z-index: 1;
}

#flyer-stuff {
  margin-top: 0.5vh;
  padding: 0.5vh;
  background-color: #d6e7ea3c;
  border-radius: 5px;
}

#flyer-x img {
  height: 2.75vh;
  width: auto;
}

#flyer-img {
  width: 34vw;
}

#flyer-buttons {
  margin-left: 1vw;
  display: flex;
  justify-content: flex-start;
  gap: 0.5vw;
}

.flyer-button {
  height: 5vh;
  margin: 1vh 0 0 2vh;
}

#flyer-info {
  margin: 2vh;
}

#info-row {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin-bottom: 1vh;
}

.info-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
}

.info-item p {
  margin: 0;
  white-space: pre-wrap;
}

.flyer-info-icon {
  height: 3vh;
  margin-right: 1vh;
}