/* Home view. */
.home {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  width: 100vw;
}

/* Sets size of map, which has class name "leaflet-container" */
.leaflet-container {
  width: 100vw;
  height: 85vh;
}
