#saved-page {
  margin: 0 5vh 5vh 5vh;
  display: flex;
}

#events-arrage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3vh;
}

.miniFlyerContainer {
  /* Sets defined space for all flyers even if they don't fit these dimensions */
  height: 44vh;
  width: 40vh;
}

.eventDate {
  margin: 0;
  font-size: 13pt;
  font-weight: 600;
  height: 4vh;
}

.miniFlyer {
  height: 40vh;
  margin-bottom: 3vh;
}

#saved-page #flyer {
  background-color: white;
  border: 2px solid #d6e7ea95;
  margin-right: 4.5vw;
  margin-top: 4.5vh;
  height: 83vh;
}